---
const { title, date, author, tags } = Astro.props;
---
<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <article>
      <header>
        <h1>{title}</h1>
        <p>By {author} on {date}</p>
        <ul>
          {tags.map((tag: string) => <li>{tag}</li>)}
        </ul>
      </header>
      <main>
        <slot />
      </main>
    </article>
  </body>
</html>
